.central-input {
    display: table;
    width: 100%;
    height: 100%; /* set a pixel height and then remove the body,html height */
    vertical-align: middle;
    color: #fff;
}

html, body {
    height: 100%;
}
.central-input-inner {
    display: table-cell;
    vertical-align: middle;
}
.central-input .search {
    padding: 3%;
    max-width: 980px; /*max width of search*/
    margin: 0 auto;
}
.no-margin-top {
    margin-top: 0
}


/* ------ form-control-lg */
.form-control-lg {
    min-height: 46px;
    border-radius: 6px;
    font-size: 18px;
    line-height: normal;
}


/* ------ disjointed form group custom */
.central-input .search.has-button .btn {
    margin-top: 5px;
    width: 100%;
}
@media (min-width:480px) {
    .central-input .search.has-button .form-group {
        position: relative;
        padding-right: 99px; /*space for button*/
    }
    .central-input .search.has-button .btn {
        position: absolute;
        top: 0;
        right: 0;
        width: auto;
        margin: 0;
    }
}

.spacer {
    margin-top: 40px; /* define margin as you see fit */
}

.highlighted {
    font-weight: bold;
    background-color: #ffff00;
}

.small {
    width: 200px;
}